<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1t">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style type="text/css">
		
		
	
		body{
		background-image: url(https://newevolutiondesigns.com/images/freebies/polygon-wallpaper-22.jpg); 
		height: 600px;

		width: 100%;
		background-repeat: no-repeat;

		background-position: center center;
		background-attachment: fixed;

		-webkit-background-size: cover;
		-moz-background-size: cover;

		-o-background-size: cover;
		background-size: cover;
	}
	</style>
    <title>Title</title>
</head>
<body>

	<div class="col-sm-offset-3 col-sm-6" style="padding-top:10%;height:600px;font-size:75px;color:#FFFFFF;text-align:center" >			
		Smart routing<br>
		<h1>Smart routing lets you decide your own route depending on factors such as traffic, safety and points of intrests in a particular route..</h1>
		<button type="button" class="btn btn-primary" style="height:40px;background-color:#495972;border-color:#FFFFFF;color:#FFFFFF;opacity:0.9;width:10%;border-width:2px;border-radius:5px">
		<a href="/routing/home" style="color:#FFFFFF">Start..</a>
</button>
	<div>
	
</body>
</html>