<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>

      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      alert("{{ a }}");
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 28.38, lng: 77.12},
          mapTypeId: 'terrain'
        });

        var RouteCoordinates = [
//          {lat: 28.549, lng: 77.203},
//          {lat: 28.715, lng:  77.191}
        ];


        var createPath = new google.maps.Polyline({
          path: RouteCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        createPath.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgGMhW7Y5CRDGgYrVGJxt1G8AkWlXQEKI&callback=initMap">
    </script>
  </body>
</html>